@charset "UTF-8";
/* CSS SPINNER CHARGEMENT DE LA PAGE */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: background_spinner 0.01s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__spinner {
  animation: spin 3s linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #9356DC;
  border-top-color: #9356DC;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;
}
.loader__spinner:before {
  animation: spin 4s linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #FF79DA;
  border-top-color: #FF79DA;
  box-sizing: border-box;
  content: "";
  height: 16vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 16vmin;
}
.loader__spinner:after {
  animation: spin 5s linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #99E2D0;
  border-top-color: #99E2D0;
  box-sizing: border-box;
  content: "";
  height: 12vmin;
  left: 2vmin;
  position: absolute;
  top: 2vmin;
  width: 12vmin;
}

@keyframes background_spinner {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/*  KEYFRAMES APPARATION MENU */
@keyframes listMenuAppear {
  0% {
    transform: scale(0);
    opacity: 0.1;
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
/**
** FICHIER DE STYLE DU SITE DE OHMYFOOD
** @AUTEUR Jérémy ANGELE
*/
body {
  width: auto;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1330px;
  padding: 0 1rem;
  margin: 0 auto;
}

/* ACCUEIL */
/* SECTION location */
.location {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
.location__city {
  padding: 0.7rem;
  font-weight: bold;
}

/* SECTION EXPLORE RESTAURANT */
.exploreRestau {
  text-align: center;
  background-color: #fafafa;
  padding: 2.5rem;
}
.exploreRestau__title {
  margin: 0;
}
.exploreRestau__infos {
  font-weight: 100;
}

/* SECTION FONCTIONEMMENT */
.operation {
  padding: 2rem 0 2rem 0;
}
.operation__title {
  width: 100%;
}
.operation__step {
  display: flex;
  padding: 1.5rem 0 1.5rem 0;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  align-items: center;
}
.operation__step .number {
  background-color: #9356DC;
  border-radius: 20px;
  padding: 0.1rem;
  width: 20px;
  color: #ffffff;
  text-align: center;
  position: relative;
  right: 10px;
}
.operation__step i {
  margin: 0 1.6rem 0 1rem;
  color: #7e7e7e;
}
.operation__step .legende {
  font-weight: bold;
}
.operation__step:hover i {
  color: #9356DC;
}

/* SECTION RESTAURANTS */
.restaurants {
  padding: 2rem 0 2rem 0;
  background-color: #f6f6f6;
}
.restaurants .cards .card {
  background-color: #fff;
  border-radius: 1rem;
  margin: 0 0 1rem 0;
}
.restaurants .cards .card__link {
  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;
}
.restaurants .cards .card__img {
  border-radius: 1rem 1rem 0 0;
}
.restaurants .cards .card__badge {
  background-color: #99e2d0;
  color: #2a6858;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  border-radius: 0.13rem;
  position: absolute;
  top: 1rem;
  right: 0.6rem;
  font-weight: 500;
}
.restaurants .cards .card__body {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  justify-content: space-between;
  align-items: center;
}
.restaurants .cards .card__titre {
  font-size: 1em;
  margin: 0 0 0.5rem 0;
}
.restaurants .cards .card__icon {
  position: relative;
  height: 2rem;
  width: 2.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #000000;
}
.restaurants .cards .card__icon:hover::before {
  opacity: 1;
}
.restaurants .cards .card__icon::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.restaurants .cards .card__icon .doicon {
  transition-duration: 0.25s;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.restaurants .cards .card__icon .doicon--default {
  opacity: 1;
}
.restaurants .cards .card__icon:hover .doicon--default {
  opacity: 0;
}

/*  HEADER */
.header {
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
  margin: 0;
}
.header__icon {
  position: absolute;
  top: 15px;
  left: 15px;
}
.header__link {
  list-style: none;
  color: #000000;
}

/*  BUTTON */
.btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  border-radius: 100px;
  color: #ffffff;
  background-color: #686868;
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.btn.btn-degraded {
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.btn:hover {
  background-color: #ffffff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

/*  FOOTER */
.footer {
  background-color: #353535;
  padding: 1rem 0 1rem 0;
}
.footer__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin: 0;
}
.footer__nav {
  list-style: none;
  padding: 0;
  color: #ffffff;
}
.footer__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
.footer i {
  margin: 0 0.5rem 0 0;
  width: 15px;
  font-size: 12px;
}

/* MENU */
.featured_image {
  width: 100%;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
.menu__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}
.menu__icon {
  position: relative;
  height: 2rem;
  width: 2.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #000000;
}
.menu__icon:hover::before {
  opacity: 1;
}
.menu__icon::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.menu__icon .doicon {
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.menu__icon .doicon--default {
  opacity: 1;
}
.menu__icon:hover .doicon--default {
  opacity: 0;
}

/* LISTE DES MENUS */
.listmenu__title {
  font-weight: 300;
  font-size: 1em;
  margin-top: 0;
  padding: 0 0 0.5rem 0;
  position: relative;
}
.listmenu__title:after {
  content: "";
  width: 2.5rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.listmenu__item {
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: listMenuAppear 1s;
  animation-timing-function: 2s cubic-bezier(0.5, 0.5, 0, 1);
  animation-fill-mode: both;
}
.listmenu__item:hover .listmenu__validator {
  margin-right: -1rem;
}
.listmenu__item:hover i {
  transform: rotate(0);
}
.listmenu__content {
  overflow: hidden;
  flex: 1;
}
.listmenu__subtitle, .listmenu__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.listmenu__price {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
}
.listmenu__validator {
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  margin: -1rem -6rem -1rem 1rem;
  width: 70px;
}
.listmenu i {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(-360deg);
  color: #99e2d0;
  transition-duration: 0.7s;
}

.listmenu__item:hover .listmenu__validator i {
  transform: rotate(0);
}

/* DIV BUTTON COMMANDER */
.command {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 1rem 0 3rem 0;
}

/* APPARITIONS MENU */
.wait-0 {
  animation-delay: 0s;
}

.wait-1 {
  animation-delay: 0.1s;
}

.wait-2 {
  animation-delay: 0.2s;
}

.wait-3 {
  animation-delay: 0.3s;
}

.wait-4 {
  animation-delay: 0.4s;
}

.wait-5 {
  animation-delay: 0.5s;
}

.wait-6 {
  animation-delay: 0.6s;
}

.wait-7 {
  animation-delay: 0.7s;
}

.wait-8 {
  animation-delay: 0.8s;
}

/* VARIABLE RESPONSIVE*/
/*MOBILE*/
/*TABLETTE*/
/*DESKTOP ET PLUS*/
@media only screen and (max-width: 767px) {
  /* SECTION FONCTIONEMMENT */
  .operation__step {
    margin: 1rem 0 1.4rem 0.5rem;
  }

  .restaurants .cards .card__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1100px) {
  /* SECTION FONCTIONEMMENT */
  .operation .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .operation__step {
    width: 30%;
  }
  .operation__step .legende {
    font-size: 14px;
  }

  /* SECTION RESTAURANT */
  .restaurants .cards .card {
    margin: 0 0 1.5rem 0;
  }
  .restaurants .cards .card__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  /* SECTION MENU */
  .menu {
    margin-top: -10rem;
  }
}
@media only screen and (min-width: 1101px) {
  .container {
    padding: 0 2rem;
  }

  .operation .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .operation__step {
    width: 32%;
  }
  .operation__step .legende {
    font-size: 14px;
  }

  .restaurants .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants .cards .card {
    width: 49%;
  }
  .restaurants .cards .card__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .menu .allmenu {
    display: flex;
    justify-content: space-between;
  }
  .menu .allmenu .listmenu {
    width: 32%;
  }

  .featured_image {
    height: 300px;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
