@use "sass:map";
$color_primary : #9356DC ;
$color_secondary : #FF79DA;
$color_tertiary : #99E2D0;
$background_color_btn : #686868;
$color_primary_ligth : rgba(147,86,220,.9) ;
$color_secondary_ligth : rgba(255,121,218,.9);
$background_color_section_explore : #fafafa;
$background_color_section_location : rgb(240, 240, 240);
$background_color_footer : #353535;
$color_icon_operation : #7e7e7e;
$color_white : #ffffff;
$color_light_grey : #f6f6f6;
$color_validator : #99e2d0;
$color_black : #000000;
$color_blue_sky : #99e2d0;

