@use "sass:map";
$color_primary : #9356DC ;
$color_secondary : #FF79DA;
$color_tertiary : #99E2D0;
$color_white : #ffffff;

/* VARIABLE RESPONSIVE*/
$max_width_mobile: 767px;

$min_width_tablette : 599px;
$max_width_tablette : 1024px;

$min_width_desktop : 599px;

/*MOBILE*/
@mixin mobile-only {
    @media only screen and (max-width: $max_width_mobile){

        /* SECTION FONCTIONEMMENT */
        .operation{
            &__step{
                margin: 1rem 0 1.4rem 0.5rem;
            }
        }

        .restaurants{
            .cards{
                .card{
                    &__img{
                        width: 100%;
                        height: 180px;
                        object-fit :cover;
                    }
                } 
            }
        }

    }
}

/*TABLETTE*/
@mixin tablette-only {
    @media only screen and (min-width: 768px) and (max-width: 1100px){
         /* SECTION FONCTIONEMMENT */
        .operation{
            .container{
                display: flex;
                flex-wrap : wrap;
                justify-content: space-between;
            }

            &__step{
                width: 30%;

                .legende{
                    font-size: 14px;
                }
            }
        }

        .restaurants{
            .cards{
                .card{
                    &__img{
                        width: 100%;
                        height: 180px;
                        object-fit :cover;
                    }
                } 
            }
        }
    }
}

/*DESKTOP ET PLUS*/
@mixin desktop-plus-only {
    @media only screen and (min-width: 1101px){
        .operation{
            .container{
                display: flex;
                flex-wrap : wrap;
                justify-content: space-between;
            }

            &__step{
                width: 32%;
                .legende{
                    font-size: 14px;
                }
            }
        }

        .restaurants{
            .cards{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .card{
                    width: 49%;
                    &__img{
                        width: 100%;
                        height: 180px;
                        object-fit :cover;
                    }
                } 
            }
        }

    }
}