/**
** FICHIER DE STYLE DU SITE DE OHMYFOOD
** @AUTEUR Jérémy ANGELE
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");

body{
    width: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1330px;
    padding: 0 1rem;
    margin: 0 auto;
}

/* ACCUEIL */

/* SECTION location */
.location{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background_color_section_location;

    &__city{
        padding: 0.7rem;
        font-weight: bold;
    }
}

/* SECTION EXPLORE RESTAURANT */
.exploreRestau{
    text-align: center;
    background-color: $background_color_section_explore;
    padding: 2.5rem;

    &__title{
        margin: 0;
    }

    &__infos{
        font-weight: 100;
    }

}

 /* SECTION FONCTIONEMMENT */
.operation{
    padding: 2rem 0 2rem 0;

    &__title{
        width: 100%;
    }

    &__step{
        display: flex;
        padding: 1.5rem 0 1.5rem 0;
        background-color: $color_light_grey;
        border-radius : 20px;
        box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 ,0 , 0, 0.10);
        align-items: center;

        .number{
            background-color: $color_primary ;
            border-radius: 20px;
            padding: 0.1rem;
            width: 20px;
            color: $color_white;
            text-align: center;
            position: relative;
            right: 10px;
            
        }
        
        i{
            margin : 0 1.6rem 0 1rem;
            color: $color_icon_operation;
        }
    
        .legende{
            font-weight: bold;
        }

        &:hover{
            i{
                color :$color_primary;
            }          
        }
    }
}

/* SECTION RESTAURANTS */
.restaurants{
    padding: 2rem 0 2rem 0;
    background-color: $color_light_grey;
    .cards{
        .card{
            background-color: #fff;
            border-radius: 1rem;
            margin: 0 0 1rem 0;
            &__link{
                text-decoration: none;
                color: inherit;
                display: block;
                position: relative;
            }
            &__img{
                border-radius: 1rem 1rem 0 0;
            }
            &__badge{
                background-color: #99e2d0;
                color: #2a6858;
                padding: 0.3rem 0.7rem 0.3rem 0.7rem;
                border-radius: 0.13rem;
                position: absolute;
                top: 1rem;
                right: .6rem;
                font-weight: 500;
            }
            &__body{
                display: flex;
                padding: 1rem 1rem 1rem 1rem;
                justify-content: space-between;
                align-items: center;
            }
            &__titre{
                font-size: 1em;
                margin: 0 0 0.5rem 0;
            }
            
            &__icon{
                position: relative;
                height: 2rem;
                width: 2.5rem;
                padding: 0;
                display:flex;
                align-items:center;
                justify-content:center;
                cursor: pointer;
                background-color: $color_black;
                
                &:hover::before {
                    opacity: 1;
                }
                  
                &::before {
                    opacity: 0;
                    transition: 0.5s;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background:linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
                }

                .doicon{
                    transition-duration: .25s;
                    background-color: $color_white;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    mix-blend-mode: lighten;
                }

                .doicon--default{
                    opacity: 1;
                }

                
            }

            &__icon:hover {
                .doicon {
                  &--default {
                    opacity: 0;
                  }
                }
            }

            
        }

    }
}




